body{
    background-image: url("assets/ori_84053_8c77fdd76ead0e4b0acd37775d57f2ebfbed8fa1_farm-background.jpg");
}
header{
    position:fixed;
    height: 7%;
    width: 1560px;
    text-align:center;
    font-size:40px;
}
#playersStuff{
    position:fixed;
    border: solid;
    border-color: black;
    height: 85%;
    width: 30.5%;
    display: inline-block;
    margin-top:5%;
    left: 1%;
}
#farmBoardWithSeasons{
    position:fixed;
    border: solid;
    border-color: black;
    height: 85%;
    width: 33%;
    display: inline-block;
    margin-top:5%;
    left: 32%;
}
#feedingCardCropCard {
    position:fixed;
    border: solid;
    border-color: black;
    height: 85%;
    width: 31%;
    display: inline-block;
    margin-top:5%;
    left: 66%;
}

.CropCard1{
    font-size:30px;
    color:green;
    border: 3px solid black;
    height: 43vh;
    background-image: url("assets/carrot3.jpg");
    background-size:cover;
}
.feedingCard1{
    font-size:30px;
    color:green;
    border: 3px solid black;
    height: 41vh;
    background-image: url("assets/fullcow.jpg");
    background-repeat:no-repeat;
    background-size:cover;


}
.playerCropCard{
    font-size:30px;
    color: green;
    position:fixed;
    border:solid;
    border-color: black;
    height: 27%;
    width: 15%;
    background-size:cover;

}
.frontAnimalCard{
    font-size:30px;
    color:green;
    position: fixed;
    border:solid;
    border-color: black;
    height: 30%;
    width: 15%;
    top:39%

}
.tailAnimalCard{
    font-size:30px;
    color:green;
    position: fixed;
    border:solid;
    border-color: black;
    height: 30%;
    width: 15%;
    left:16.5%;
    top:39%;
    background-image: url("assets/cow-field-one-health-uc-davis.jpg");
    background-size:cover;
}
.moneySack{
    font-size:30px;
    color:green;
    position: fixed;
    border:solid;
    border-color: black;
    height:27%;
    width:15%;
    top:69.5%;
    background-image: url("assets/2846money_sack.jpg");
    background-size:cover;

}
.takeCoin{
    font-size:30px;
    color:green;
    position: fixed;
    border:solid;
    border-color: black;
    height:27%;
    width:15%;
    top:69.5%;
    left:16.5%;
    background-image: url("assets/Take-Advantage-of-Junk-Coin-Bins-at-Coin-Shops-Step-7.jpg");
    background-size:cover;

}
.farmBoard{
    font-size:30px;
    color:green;
    border:solid;
    border-color:black;
    position:fixed;
    height:85%;
    width:18%;
}
.autumn{
    font-size:30px;
    color:green;
    border:solid;
    border-color:black;
    position:fixed;
    height:27%;
    right:35%;
    width:14%;
    background-size:cover;

}
.summer{
    box-shadow: 1px 1px antiquewhite;
    font-size:30px;
    color:green;
    border:solid;
    border-color:black;
    position:fixed;
    height:27%;
    right:35%;
    width:14%;
    top:40%;
    background-size:cover;

}
.spring{
    font-size:30px;
    color:green;
    border:solid;
    border-color:black;
    position:fixed;
    height:27%;
    right:35%;
    width:14%;
    top:69%;
    background-size:cover;

}
.carrotimage{
    background-image: url("assets/687474703a2f2f6661746865726765656b2e636f6d2f77702d636f6e74656e742f75706c6f6164732f323031332f30392f6d7968617070796661726d5f736565642e6a7067.jpg");
}
.happycowimage{
    background-image: url("assets/Smiling-Face-Cow-Funny-Picture.jpg");
}
.sadcowimage{
    background-image: url("assets/download.jpg");
    background-repeat:no-repeat;
    background-size:cover;




}
.harvestedCrop{
    height:31%;
    width:100%;
}










