header{
    position:fixed;
    border: solid;
    border-color:  black;
    height: 7%;
    width: 1560px;
    text-align:center;
    font-size:40px;
}
#playersStuff{
    position:fixed;
    border: solid;
    border-color: red;
    height: 85%;
    width: 30.5%;
    display: inline-block;
    margin-top:5%;
    left: 1%;
}
#farmBoardWithSeasons{
    position:fixed;
    border: solid;
    border-color: blue;
    height: 85%;
    width: 33%;
    display: inline-block;
    margin-top:5%;
    left: 32%;
}
#feedingCardCropCard {
    position:fixed;
    border: solid;
    border-color: green;
    height: 85%;
    width: 31%;
    display: inline-block;
    margin-top:5%;
    left: 66%;
}

.CropCard1{
    border: 3px solid blue;
    height: 43vh;
}
.feedingCard1{
    border: 3px solid red;
    height: 40vh;
}
.playerCropCard{
    position:fixed;
    border:solid;
    border-color: green;
    height: 27%;
    width: 15%;

}
.frontAnimalCard{
    position:fixed;
    border:solid;
    border-color: darkblue;
    height: 30%;
    width: 15%;
    top:39%
}
.tailAnimalCard{
    position: fixed;
    border:solid;
    border-color: firebrick;
    height: 30%;
    width: 15%;
    left:16.5%;
    top:39%;

}
.moneySack{
    position: fixed;
    border:solid;
    border-color: fuchsia;
    height:27%;
    width:15%;
    top:69.5%;


}
.takeCoin{

    position: fixed;
    border:solid;
    border-color: fuchsia;
    height:27%;
    width:15%;
    top:69.5%;
    left:16.5%;


}
.farmBoard{
    border:solid;
    position:fixed;
    height:85%;
    width:18%;
}
.autumn{
    border:solid;
    border-color:red;
    position:fixed;
    height:27%;
    right:35%;
    width:14%;

}
.summer{
    border:solid;
    border-color:green;
    position:fixed;
    height:27%;
    right:35%;
    width:14%;
    top:40%;

}
.spring{
    border:solid;
    border-color:blue;
    position:fixed;
    height:27%;
    right:35%;
    width:14%;
    top:69%;

}




